<div id="about" ng-style="style()" resize>
	<div class="container">
		<h1>About Me Page</h1>
		<div class="airQ-fotoBackgroung"></div>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum
			liberi: misera orbitas. Quorum sine causa fieri nihil putandum est.
			Atque hoc loco similitudines eas, quibus illi uti solent,
			dissimillimas proferebas. Qui autem esse poteris, nisi te amor ipse
			ceperit? Duo Reges: constructio interrete. Itaque contra est, ac
			dicitis;</p>
	
		<p>Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
			Videsne quam sit magna dissensio? Nunc ita separantur, ut disiuncta
			sint, quo nihil potest esse perversius. Tum Piso: Quoniam igitur
			aliquid omnes, quid Lucius noster? Inquit, dasne adolescenti veniam?</p>
	
		<p>An eum locum libenter invisit, ubi Demosthenes et Aeschines
			inter se decertare soliti sunt? Non ego tecum iam ita iocabor, ut
			isdem his de rebus, cum L. Perge porro; Potius inflammat, ut coercendi
			magis quam dedocendi esse videantur. Aliter homines, aliter
			philosophos loqui putas oportere?</p>
		<ol>
			<li>Atque ab his initiis profecti omnium virtutum et originem et
				progressionem persecuti sunt.</li>
			<li>Nam, ut sint illa vendibiliora, haec uberiora certe sunt.</li>
			<li>Non modo carum sibi quemque, verum etiam vehementer carum
				esse?</li>
			<li>Theophrastum tamen adhibeamus ad pleraque, dum modo plus in
				virtute teneamus, quam ille tenuit, firmitatis et roboris.</li>
		</ol>
	</div>
</div>