<script type="text/javascript">
	$(document).ready(function() {
		$('#pagepiling').pagepiling();
	});
</script>

<div id="about" style="background-color: #EDEDED;">
	<div id="pagepiling">
		<div class="section"
			ng-include="'partials/about/components/info/aboutMeInfo.html'"
			id="section1"></div>
		<div class="section"
			ng-include="'partials/about/components/skills/skills.html'"
			id="section2"></div>
		<div class="section"
			ng-include="'partials/about/components/experience/experiences.html'"
			id="section3"></div>
		<div class="section"
			ng-include="'partials/about/components/education/educations.html'"
			id="section4"></div>
	</div>
</div>
