<div id="about" ng-style="style()" resize
	style="background-color: #EDEDED">
	<div class="container">
		<h1 style="font-weight: bold; margin: 3% 35% 4% 43%;">About Me</h1>

		<div id="leftSideInfo" class="col-md-4 pull-left airQ-padding-l-r-0" style="padding: 4% 0 0 4%">
			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-right">FULL NAME</span>
			</div>
			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-right">Andrei Lescu </span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-right">BIRTHDAY</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-right"> 28.01.1991 </span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-right"> BIRTH PLACE </span>
			</div>
			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-right"> Chisinau </span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-right"> HOBBIES </span>
			</div>

			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-right"> Coding, Swimming </span>
			</div>
		</div>

		<div class="class-md-4 image-cropper pull-left airQ-padding-l-r-0" style="margin: 0 0 0 3.7%">
			<img src="../img/AndreiLescu.jpg" class="rounded">
		</div>
		
		<div id="rightSideInfo" class="col-md-4 pull-right airQ-padding-l-r-0" style="padding: 4% 0 0 0">
			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-left">ADDRESS</span>
			</div>
			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-left">Timisoara, Romania</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-left">PHONE</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-left">+40745928599</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-left">EMAIL</span>
			</div>
			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-left">andrei.lescu@dialogdata.de</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-titles">
				<span class="pull-left">WEB</span>
			</div>

			<div class="col-md-12 airQ-aboutMe-text">
				<span class="pull-left">www.airQ.com</span>
			</div>
		</div>

	</div>
</div>