<div class="container">

	<div ng-include="'partials/about/components/aboutMeInfo/header.html'" />

	<div ng-include="'partials/about/components/aboutMeInfo/bodyLeft.html'" />

	<div class="class-md-4 image-cropper pull-left airQ-padding-l-r-0"
		style="margin: 0 0 0 3.7%">
		<img src="../img/AndreiLescu.jpg" class="rounded">
	</div>

	<!-- <div
		ng-include="'partials/about/components/aboutMeInfo/bodyRight.html'" />
	<div
		ng-include="'partials/about/components/aboutMeInfo/footer.html'" /> -->
	
</div>