
<div class="container">
	<div class="col-md-12" style="padding: 3% 3%;">
		<div id="aboutMeTitle">About Me</div>
		<div class="airQ-center-50">
			<div class="col-md-1 airQ-calc-icon"
				style="margin: auto; position: relative; padding: 0">
				<ng-md-icon id="account_circle" icon="account_circle" size="42"
					style="fill:#B4B4B4;"></ng-md-icon>
			</div>
		</div>
	</div>

	<div id="leftSideInfo" class="col-md-4 pull-left airQ-padding-l-r-0"
		style="padding: 4% 0 0 4%">
		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-right">FULL NAME</span>
		</div>
		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-right">Andrei Lescu </span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-right">BIRTHDAY</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-right"> 28.01.1991 </span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-right"> BIRTH PLACE </span>
		</div>
		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-right"> Chisinau </span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-right"> HOBBIES </span>
		</div>

		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-right"> Coding, Swimming </span>
		</div>
	</div>

	<div class="class-md-4 image-cropper pull-left airQ-padding-l-r-0"
		style="margin: 0 0 0 3.7%">
		<img src="../img/AndreiLescu.jpg" class="rounded">
	</div>

	<div id="rightSideInfo" class="col-md-4 pull-right airQ-padding-l-r-0"
		style="padding: 4% 0 0 0">
		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-left">ADDRESS</span>
		</div>
		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-left">Timisoara, Romania</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-left">PHONE</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-left">+40745928599</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-left">EMAIL</span>
		</div>
		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-left">andrei.lescu@dialogdata.de</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-titles">
			<span class="pull-left">WEB</span>
		</div>

		<div class="col-md-12 airQ-aboutMe-text">
			<span class="pull-left">www.airQ.com</span>
		</div>
	</div>

	<div class="col-md-12" style="margin: 2%; color: #B4B4B4;">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="col-md-12">
				<div class="col-md-6">Hi, I am software developer at Dialog
					Data since 2014. I am new in web development world so with this
					site I am trying to learn some new and cool for me. This is my
					first personal page.</div>
				<div class="col-md-6">I do all my best and to continuously
					improving the Front End and Backend part. Hope you enjoy this.</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>