<div id="map"></div>
<div class="container"> 
		<ul class="airQ-averageScale-list">
			<li class="airQ-link-list-item">Good 
				<canvas id="goodCanvas" class="airQ-square airQ-square-good"></canvas>
			</li>
			<li class="airQ-link-list-item">Moderate
				<canvas id="moderateCanvas" class="airQ-square airQ-square-moderate"></canvas>
			</li>
			<li class="airQ-link-list-item">Unhealthy
				<canvas id="unhealthyCanvas" class="airQ-square airQ-square-unHealthy"></canvas>
			</li>
			<li class="airQ-link-list-item">Very unhealthy
				<canvas id="veryUnhealthyCanvas" class="airQ-square airQ-square-veryUnHealthy"></canvas>
			</li>
			<li class="airQ-link-list-item">Hazardous
				<canvas id="hazardousCanvas" class="airQ-square airQ-square-hazardous"></canvas>
			</li>
			<li class="airQ-link-list-item">Emergency
				<canvas id="emergencyCanvas" class="airQ-square airQ-square-emergency"></canvas>
			</li>
		</ul>
</div>