@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=RobotoDraft&lang=en)
	;

ng-md-icon {
	fill: white;
	-webkit-transition: fill 750ms ease-in-out;
	-moz-transition: fill 750ms ease-in-out;
	-o-transition: fill 750ms ease-in-out;
	transition: fill 750ms ease-in-out;
}

ng-md-icon>svg {
	-webkit-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-moz-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-o-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	transition: width 750ms ease-in-out, height 750ms ease-in-out;
}

body {
	background-color: #F2F2F2;
}

@media only screen and (max-width: 500px) {
	body {
		background-color: lightblue;
	}
	#userLoginPanel {
		width: 0;
	}
	#menuDesktop {
		display: none;
	}
	#menuMobile {
		display: inline !important;
		float: right;
	}
	.airQ-mobileMenuList {
		list-style: none;
		padding: 4% 0 0 0;
	}
	.airQ-mobileMenuList-item {
		padding: 5% 5%;
		color: #F2F2F2 !important;
		border-width: 1px;
		border-color: #F2F2F2;
		border-style: solid;
	}
	a {
		color: #F2F2F2;
		text-decoration: none;
	}
	li:hover a {
		color: white;
		text-decoration: none;
		background-color: rgba(56, 56, 56, 0.5);
	}
	.active {
		background-color: #F2F2F2;
		color: red;
	}
	.active a {
		color: rgba(56, 56, 56, 1);
	}
}

#menuMobile {
	display: none;
}

.airQ-logoutButton {
	color: white;
	background-color: black;
	border: none;
	margin-left: 1%;
	opacity: 0.6;
	font-size: 13px;
	padding: 0 8% 0 8%;
	margin: 1% 10% 1% 10%;
}

.airQ-link-list {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 20px 200px 20px 0px;
}

.airQ-icons-list {
	list-style-type: none;
	margin: 0;
	padding: 1% 1% 2% 40%;
}

.airQ-icons-list-item {
	display: inline;
	padding-left: 1%;
}

.airQ-link-list-item {
	display: inline;
	padding: 0 20px 0 20px;
}

.airQ-link-list-item a {
	color: #F2F2F2;
}

.airQ-userLogin-panel {
	background-color: rgba(56, 56, 56, 1);
	color: #fff;
}

.airQ-navigationBar {
	background-color: rgba(56, 56, 56, 1);
}

.airQ-logo-text {
	padding-left: 35%;
	padding-bottom: 1%;
}

.airQ-logo-text-size {
	font-weight: bold;
	font-size: 65px;
	!
	important
}

#map {
	width: 100%;
	height: 550px;
}

#about {
	width: 100%;
	height: 750px;
}

#blog {
	width: 100%;
	height: 750px;
}

#blogDetail {
	height: 750px;
}

.airQ-averageScale-list {
	font-size: 11px;
	list-style-type: none;
	margin: 0;
	padding: 2% 0 2% 18%;
}

.airQ-square {
	border: 1px solid #d3d3d3;
	width: 10px;
	height: 10px;
}

.airQ-square-good {
	background-color: green;
}

.airQ-square-moderate {
	background-color: yellow;
}

.airQ-square-unHealthy {
	background-color: #FF9966;
}

.airQ-square-veryUnHealthy {
	background-color: #CC0033;
}

.airQ-square-hazardous {
	background-color: #A00000;
}

.airQ-square-emergency {
	background-color: #A02C7F;
}

.airQ-padding-top-15 {
	padding-top: 15px;
}

.airQ-padding-left-40 {
	padding-left: 40px;
}

#footer {
	background-color: #383838;
}

.airQ-fotoBackgroung {
	width: 300px;
	height: 300px;
	float: right;
	margin: 2% 2%;
	background-image: url(../img/AndreiLescu.jpg);
}

.airQ-flex-container {
	display: -webkit-flex;
	display: flex;
	width: 100% px;
	height: 80px;
}

.airQ-flex-item {
	width: 100%;
	height: 60px;
	margin: 5px;
}

.airQ-menuItem-selected {
	padding-bottom: 5px !important;
	border-bottom-style: solid;
	border-bottom-width: 2%;
	border-bottom-color: #F2F2F2;
}

.airQ-menuItemColor {
	color: #777 !important;
	margin-left: 10px;
}

.airQ-menuItemColor:hover {
	color: white !important;
	margin-left: 10px;
	text-decoration: none;
}

.active a {
	color: #F2F2F2 !important;
	text-decoration: none;
}

a {
	color: #F2F2F2;
	text-decoration: none;
}

.airQ-menuItem-div {
	margin: 5% 5% 19% 20%;
	width: 60%;
	padding: 3%;
}

.airQ-blogMedalion {
	width: 100%;
	heigth: 100px;
	float: left;
	margin: 1%;
	background-color: white;
	heigth: 100px;
}

.airQ-fotoBackgroungBlog {
	width: 240px;
	height: 240px;
	float: left;
	background-image: url(../img/holidaySeason.png);
}

/* .airQ-fotoSearch {
	width: 240px;
	height: 240px;
	float: left;
	background-image: url(../img/holidaySeason.png);
} */
.et-main-image {
	float: left;
	position: relative;
	line-height: 0;
	width: 240px;
}

.meta-info {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #777;
	color: #fff;
	text-align: center;
	font-size: 28px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	line-height: 20px;
	width: 70px;
	height: 70px;
	z-index: 3;
	box-shadow: 3px 3px 3px #F2F2F2;
}

.meta-info .meta-date {
	padding: 15px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.meta-info .month {
	font-weight: 900;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
}

.airQ-blogTitle {
	color: black;
	text-decoration: none;
}

.airQ-blogTitle:hover {
	color: #777;
	text-decoration: none;
	cursor: pointer;
}

/* blog section */
.airQ-padding-top {
	margin: 2% 0 0 0;
}

.airQ-padding-left-0 {
	padding-left: 0;
}

.airQ-input-search {
	width: 100%;
	height: 50px;
	background-color: white !important;
	color: black;
	border: 0px solid #fff;
}

.airQ-blodAdd-button {
	height: 50px;
	border-radius: 0px;
	border-style: none;
	color: #777;
}

.airQ-blogPostedBy {
	color: #777;
}

.airQ-blogDescription {
	height: 100px;
	overflow: hidden;
}

.airQ-blogReadMe-button {
	height: 30px;
	background-color: #ccc;
	color: white;
	border-radius: 0px;
	border-style: none;
}

.airQ-photoArea-addPage {
	background-color: white;
	height: 300px;
}

.airQ-blogTitle-addPage {
	font-weight: bold;
	font-size: 40px;
	border: 0;
}

.airQ-blogTitle {
	font-weight: bold;
	font-size: 30px;
}

.airQ-blogMedalion-div {
	padding: 1.25% 2.5%;
	width: 100%;
	float: left;
	box-shadow: 2px 2px 3px #777;
}

.airQ-blogTextArea-addPage {
	height: 250px;
	border: 0;
}

.airQ-blogTextArea-editPage {
	height: 340px;
	border: 0;
}

.airQ-blogTextArea-editPage-default {
	height: 330px;
	border: 0;
}

.airQ-blogButton {
	border: 0;
	width: 15%;
}

.airQ-blogButton-margin {
	margin: 0 0.5% 0 -2%;
}

.airQ-marginTop-1 {
	margin-top: 1%;
}