@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=RobotoDraft&lang=en)
	;

ng-md-icon {
	fill: white;
	-webkit-transition: fill 750ms ease-in-out;
	-moz-transition: fill 750ms ease-in-out;
	-o-transition: fill 750ms ease-in-out;
	transition: fill 750ms ease-in-out;
}

ng-md-icon>svg {
	-webkit-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-moz-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-o-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	transition: width 750ms ease-in-out, height 750ms ease-in-out;
}

body {
	background-color: #F2F2F2;
}

@media only screen and (max-width: 500px) {
	body {
		background-color: lightblue;
	}
	#userLoginPanel {
		width: 0;
	}
	#menuDesktop {
		display: none;
	}
	#menuMobile {
		display: inline !important;
		float: right;
	}
	.airQ-mobileMenuList {
		list-style: none;
		padding: 4% 0 0 0;
	}
	.airQ-mobileMenuList-item {
		padding: 5% 5%;
		color: #F2F2F2 !important;
		border-width: 1px;
		border-color: #F2F2F2;
		border-style: solid;
	}
	
	a {
		color: #F2F2F2;
		text-decoration: none;
	}
	
	li:hover a {
		color: white;
		text-decoration: none;
		background-color: rgba(56, 56, 56, 0.5);
	}
	
	.active {
		background-color: #F2F2F2;
		color: red;
	}
	
	.active a{ 
		 color: rgba(56, 56, 56, 1);
	}
}

/* .airQ-mobileMenuDiv {
	position: fixed;
	top: 36px;
	left: 0;
	right: 0;
	background-color: rgba(56, 56, 56, 0.85);
	z-index: -1;
	width: 100%;
} */

#menuMobile {
	display: none;
}

.airQ-logoutButton {
	color: white;
	background-color: black;
	border: none;
	margin-left: 1%;
	opacity: 0.6;
	font-size: 13px;
	padding: 0 8% 0 8%;
	margin: 1% 10% 1% 10%;
}

.airQ-link-list {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 20px 200px 20px 0px;
}

.airQ-icons-list {
	list-style-type: none;
	margin: 0;
	padding: 1% 1% 2% 40%;
}

.airQ-icons-list-item {
	display: inline;
	padding-left: 1%;
}

.airQ-link-list-item {
	display: inline;
	padding: 0 20px 0 20px;
}

.airQ-userLogin-panel {
	background-color: rgba(56, 56, 56, 1);
	color: #fff;
}

.airQ-navigationBar {
	background-color: rgba(56, 56, 56, 1);
}

.airQ-logo-text {
	padding-left: 35%;
	padding-bottom: 1%;
}

.airQ-logo-text-size {
	font-weight: bold;
	font-size: 65px;
	!
	important
}

#map {
	width: 100%;
	height: 1000px;
}

.airQ-averageScale-list {
	font-size: 11px;
	list-style-type: none;
	margin: 0;
	padding: 2% 0 2% 18%;
}

.airQ-square {
	border: 1px solid #d3d3d3;
	width: 10px;
	height: 10px;
}

.airQ-square-good {
	background-color: green;
}

.airQ-square-moderate {
	background-color: yellow;
}

.airQ-square-unHealthy {
	background-color: #FF9966;
}

.airQ-square-veryUnHealthy {
	background-color: #CC0033;
}

.airQ-square-hazardous {
	background-color: #A00000;
}

.airQ-square-emergency {
	background-color: #A02C7F;
}

.airQ-padding-top-15 {
	padding-top: 15px;
}

.airQ-padding-left-40 {
	padding-left: 40px;
}

#footer {
	background-color: #383838;
}

.airQ-fotoBackgroung {
	width: 		300px;
	height: 	300px;
	float: 		right;
	margin: 	2% 2%;
	background-image:url(../img/AndreiLescu.jpg);
}
