<div class="col-md-1" style="background: #F2F2F2">
	<div style="margin: 3px;">
		<div class="row">
			<a ng-click="upvote()"> 
				<span class="col-md-12"
				style="margin-bottom: 10px; height: 50px; background-color: white;">
				+</span>
			</a>
		</div>
		<div class="row">
			<div class="col-md-12"
				style="height: 150px; background-color: white;">
				<div style="padding-top: 70px; margin-left: 25px;">
					<span>{{count}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<a ng-click="downvote()"> 
				<span class="col-md-12"
				style="margin-top: 10px; height: 50px; background-color: white;">-
				</span>
			</a>
		</div>
	</div>
</div>