<div class="col-md-1" style="background: #F2F2F2">
	<div style="margin: 3px;">
		<div class="row">
			<a ng-href="" ng-click="upvote()"> 
				<button class="col-md-12 btn btn-default airQ-voteBlog-button airQ-margin-bottom-10" >
				+
				</button>
			</a>
		</div>
		<div class="row">
			<div class="col-md-12"
				style="height: 150px; background-color: white;">
				<div style="padding-top: 70px; margin-left: 25px;">
					<span>{{count}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<a ng-href="" ng-click="downvote()"> 
				<button class="col-md-12 btn btn-default airQ-voteBlog-button airQ-margin-top-10" >
				-
				</button>
			</a>
		</div>
	</div>
</div>