<div class="col-md-4 pull-left"
	style="padding: 4% 0 0 4%">
	<div class="col-xs-12 airQ-aboutMe-titles">
		<span class="pull-right">FULL NAME</span>
	</div>
	<div class="row airQ-aboutMe-text">
		<span class="pull-right">Andrei Lescu </span>
	</div>

	<div class="row airQ-aboutMe-titles">
		<span class="pull-right">BIRTHDAY</span>
	</div>

	<div class="row airQ-aboutMe-text">
		<span class="pull-right"> 28.01.1991 </span>
	</div>
	<div class="row airQ-aboutMe-titles">
		<span class="pull-right"> BIRTH PLACE </span>
	</div>
	<div class="row airQ-aboutMe-text">
		<span class="pull-right"> Chisinau </span>
	</div>

	<div class="row airQ-aboutMe-titles">
		<span class="pull-right"> HOBBIES </span>
	</div>

	<div class="row airQ-aboutMe-text">
		<span class="pull-right"> Coding, Swimming </span>
	</div>
</div>