<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 2%; color: #B4B4B4;">
	<div class="col-md-2"></div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-12 col-sm-12 col-md-6">Hi, I am software developer at Dialog
				Data since 2014. I am new in web development world so with this site
				I am trying to learn some new and cool for me. This is my first
				personal page.</div>
			<div class="col-xs-12 col-sm-12 col-md-6">I do all my best and to continuously
				improving the Front End and Backend part. Hope you enjoy this.</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
</div>