<div id="aboutMeBodyRight" class="col-xs-10 col-sm-4 col-md-4 col-lg-4 pull-right">
	<div class="row airQ-aboutMe-titles">
		<span class="pull-left">ADDRESS</span>
	</div>
	<div class="row airQ-aboutMe-text">
		<span class="pull-left">Timisoara, Romania</span>
	</div>

	<div class="row airQ-aboutMe-titles">
		<span class="pull-left">PHONE</span>
	</div>

	<div class="row airQ-aboutMe-text">
		<span class="pull-left">+40745928599</span>
	</div>

	<div class="row airQ-aboutMe-titles">
		<span class="pull-left">EMAIL</span>
	</div>
	<div class="row airQ-aboutMe-text">
		<span class="pull-left">andrei.lescu@dialogdata.de</span>
	</div>

	<div class="row airQ-aboutMe-titles">
		<span class="pull-left">WEB</span>
	</div>

	<div class="row airQ-aboutMe-text">
		<span class="pull-left">www.airQ.com</span>
	</div>
</div>