<div id="aboutMeBodyLeft"
	class="col-xs-10 col-sm-2 col-md-4 col-lg-4 pull-left">
	<div class="row airQ-aboutMe-titles airQ-margin-l-r-0">
		<span class="pull-right">FULL NAME</span>
	</div>
	<div class="row airQ-aboutMe-text airQ-margin-l-r-0">
		<span class="pull-right">Andrei Lescu </span>
	</div>

	<div class="row airQ-aboutMe-titles airQ-margin-l-r-0">
		<span class="pull-right">BIRTHDAY</span>
	</div>

	<div class="row airQ-aboutMe-text airQ-margin-l-r-0">
		<span class="pull-right"> 28.01.1991 </span>
	</div>
	<div class="row airQ-aboutMe-titles airQ-margin-l-r-0">
		<span class="pull-right"> BIRTH PLACE </span>
	</div>
	<div class="row airQ-aboutMe-text airQ-margin-l-r-0">
		<span class="pull-right"> Chisinau </span>
	</div>

	<div class="row airQ-aboutMe-titles airQ-margin-l-r-0">
		<span class="pull-right"> HOBBIES </span>
	</div>

	<div class="row airQ-aboutMe-text airQ-margin-l-r-0">
		<span class="pull-right"> Coding, Swimming </span>
	</div>
</div>