<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		style="margin: 4% 2% 4% 2%; color: #B4B4B4;">
		<div class="col-md-2"></div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-12 col-sm-12 col-md-4">Hi, I am software
					developer. At this point of time I work at Dialog Data, I am
					working here since 2014. I am new in the web development world so I
					do my best with this site. All new and cool stuff I try to
					implement in this site.</div>
				<div class="col-xs-12 col-sm-12 col-md-4">I am continuously
					improving the Front End and Back End part of this site. The
					improvement process never stops so am I opened for suggestions /
					remarks.</div>

				<div class="col-xs-12 col-sm-12 col-md-4">
					This is my first web site / personal page.
					You can send me a message this section is at the bottom of site.
					I hope you enjoy it, and I hope that you leave a feedback as a message. 
					</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>