<div class="airQ-aboutMe-contactMe-page">
	<div class="container" id="aboutMecontactMe">
		<div class="row">
			<div class="col-md-12">
				<div class="airQ-aboutMe-header-content">
					<div class="airQ-aboutMe-header-title airQ-color-white">Contact
						Me</div>
					<div class="col-md-1 airQ-aboutMe-icon airQ-calc-icon">
						<ng-md-icon id="school" icon="school" size="42"
							class="airQ-fill-grey-b4b4b4"></ng-md-icon>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 airQ-padding-l-r-0">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<input class="aboutMe-contactMe-input-l" type="text"
							id="firstName" placeholder="First Name" required />
					</div>
				</div>
				<div class="col-md-6 airQ-padding-l-r-0">
					<div class="col-md-10">
						<input class="aboutMe-contactMe-input-r" type="text" id="lastName"
							placeholder="Last Name" required />
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<textarea class="aboutMe-contactMe-textArea">
					</textarea>
				</div>

				<div class="col-md-1"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="col-md-4 col-md-offset-4">
					<button>Submit</button>
				</div>
			</div>

		</div>
	</div>
</div>