<div id="aboutMeSkills" class="col-md-12" style="background-color: white;">
	<div class="container">
		<div class="col-md-12">
			<div class="airQ-center-50"
				style="font-size: 32px; font-weight: bold;">
				<div style="padding-left: 37%">My Skills</div>
				<div class="col-md-1 airQ-calc-icon"
					style="margin: auto; position: relative; padding: 0">
					<ng-md-icon id="account_circle" icon="work" size="42"
						style="fill:#B4B4B4;"></ng-md-icon>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div ng-repeat="skillEntry in vm.skills">
						<div
							ng-include="'partials/about/components/skills/skill.html'">
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>