<div class="airQ-blogMedalion" style="width: 100%; float: left;">
	<div class="et-main-image airQ-fotoBackgroungBlog" style="width: 30%; float: left;">
		<a href="">
		</a>
		<div class="meta-info">
			<div class="meta-date">
				<span class="month">
					Dec
				</span>
				<span>
					03
				</span>
			</div>
		</div>
	</div>		
	<div style="width: 70%; float: left;">
			<h2>
				Creating an Eco-Friendly Holiday Season
			</h2>
			<p>
				Posted By:
			</p>
			<p>
				The holidays are a joy filled time of the year. 
				It’s a time to eat delicious food, spend time with friends and family, 
				exchange gifts, and give back to those less fortunate. 
				However, it is easy to get caught up in the excitement of the holidays and forget that not only are your electricity bills rising, 
				so are your impacts on the environment. 
				So this year, why not try making it an eco-friendly holiday season? One of the best ways to...
			</p>
	</div>
	
</div>