<div id="blog">
	<div class="container" style="position: relative;">
		<div class="row airQ-padding-top">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div class="col-md-10 airQ-padding-left-0">
					<input class="airQ-input-search ng-pristine ng-valid ng-touched"
						style="background: url(img/search.png) no-repeat scroll 800px 13px;">
				</div>
				<div class="col-md-2 airQ-padding-left-0">
					<a ng-href="#/blog/add">
						<button class="btn btn-default airQ-blodAdd-button">+ Add
							blog</button>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="blog in vm.blogs">
				<div class="col-md-1">
					<div class="row">
						<a ng-click="vm.voteOnBlog(blog, true)"><span class="col-md-12"
							style="margin-bottom: 10px; height: 50px; background-color: white;">
								+</span>
						</a>
					</div>
					<div class="row">
						<span class="col-md-12"
							style="height: 155px; background-color: white;">{{vm.count}}</span>
					</div>
					<div class="row">
						<a ng-click="vm.voteOnBlog(blog, false)"> <span class="col-md-12"
							style="margin-top: 10px; height: 50px; background-color: white;">-</span>
						</a>
					</div>
				</div>
				<div class="col-md-11"
					ng-include="'partials/blog/blogMedalion.html'"></div>
			</div>
		</div>
	</div>
</div>