<div class="airQ-blogMedalion" style="width: 100%; float: left;">

	<div
		style="padding: 3% 3%; width: 100%; float: left; box-shadow: 10px 10px 15px #777;">
		<div class="et-main-image airQ-fotoBackgroungBlog"
			style="width: 20%; float: left;">
			<a href=""> </a>

			<div class="meta-info">
				<div class="meta-date">
					<span class="month"> Dec </span> <span> 03 </span>
				</div>
			</div>
		</div>

		<div style="width: 80%; float: left; padding: 0 2% 0 2%;">
			<h2 style="font-weight: bold; font-size: 40px;">
				<a class="airQ-blogTitle" href="">
					Creating an	Eco-Friendly Holiday Season
				</a>
			</h2>
			<p style="font-weight: bold; color: #777">POSTED BY HAYLEY FELDMAN ON DEC 3, 2013</p>
			<p>The holidays are a joy filled time of the year. It’s a time to
				eat delicious food, spend time with friends and family, exchange
				gifts, and give back to those less fortunate. However, it is easy to
				get caught up in the excitement of the holidays and forget that not
				only are your electricity bills rising, so are your impacts on the
				environment. So this year, why not try making it an eco-friendly
				holiday season? One of the best ways to...</p>

			<input type="button" class="btn" value="Read More >"
				style="position: relative; float: right;">
		</div>
	</div>
</div>