<div id="blogDetail" class="container" ng-style="style()" resize>

	<div class="container">
			<div class="et-main-image airQ-fotoBackgroungBlog"
			style="width: 20%; float: left;">
			<a href=""></a>

			<div class="meta-info">
				<div class="meta-date">
					<span class="month">{{vm.blog.createdDate}}</span>
				</div>
			</div>
		</div>

		<div style="width: 80%; float: left; padding: 0 2% 0 2%;">
			<h2 style="font-weight: bold; font-size: 40px;">
				<a class="airQ-blogTitle" href="">
					{{vm.blog.name}}
				</a>
			</h2>
			<p style="font-weight: bold; color: #777">{{vm.blog.createdBy}} ON </p>
			<p>{{vm.blog.description}}</p>


			<a href="#/blog" class="btn btn-default pull-right" > < Back to Blog</a>
		</div>
	</div>
</div>