<div id="blogDetail" class="container" ng-style="style()" resize>
	<div class="container" style="padding: 20px">

		<div class="row">
			<div class="col-md-3 airQ-photoArea-addPage">
				<span>Upload a photo</span>
			</div>

			<div class="col-md-9">
				<input class="col-md-12 airQ-blogTitle-addPage" 
				ng-model="vm.blog.name" placeholder="Enter your title here">
	
				<textarea class="col-md-12 airQ-blogTextArea-addPage airQ-marginTop-1" 
				ng-model="vm.blog.description" placeholder="Enter your description here"></textarea>
				
				<div class="col-md-12 airQ-marginTop-1">
					<a href="#/blog" class="btn btn-default airQ-blogButton airQ-blogButton-margin">
					< Back to Blog</a> 
					<a href="#/blog" class="btn btn-default airQ-blogButton" ng-click="vm.createBlog()">
					+ Add blog</a>
				</div>
			</div>
		</div>
	</div>
</div>