<div class="col-md-6 airQ-education-content" >
	<div class="col-xs-12 col-md-4 airQ-education-header pull-left">
		<div class="col-xs-12 col-md-12 airQ-margin-top-10">
			<span style="font-size: 1.25em; font-weight: bold; margin-top: 2%;">{{education.period}}</span>
		</div>
		<div class="col-xs-12 col-md-12 airQ-margin-top-10">
			<span style="font-size: 1.25em; font-weight: bold;">{{education.type}}</span>
			<span style="font-size: 0.8em; font-weight: bold; color: #B2B2B2">{{education.title}}</span>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 pull-left"
		style="background-color: white;">
		<div class="col-xs-12 col-md-12">
			<div class="col-md-12">
				<span class="airQ-education-content-right-header">Description</span>
			</div>
			<div
				class="col-xs-12 col-md-12 airQ-padding-l-r-0 airQ-margin-top-10">
				<span class="airQ-education-content-right-body">{{education.description}}</span>
			</div>
		</div>
	</div>
</div>