<div class="col-md-6">
	<div class="col-xs-12 col-md-12 pull-left airQ-marginTop-1">
		<div class="col-xs-12 col-md-12">
			<div class="col-xs-12 col-md-4 airQ-education-header pull-left">
				<div class="col-xs-12 col-md-12 airQ-margin-top-10">
					<span style="font-size: 1.25em; font-weight: bold; margin-top: 2%;">{{education.period}}</span>
				</div>
				<div class="col-xs-12 col-md-12 airQ-margin-top-10">
					<span style="font-size: 1.25em; font-weight: bold;">{{education.type}}</span>
					<span style="font-size: 0.8em; font-weight: bold; color: #B2B2B2">{{education.title}}</span>
				</div>
			</div>
			<div class="col-xs-12 col-md-8 pull-left"
				style="background-color: white; height: 150px;">
				<div class="col-xs-12 col-md-12">
					<div class="col-md-12">
						<span
							style="font-size: 1.15em; font-weight: bold; color: #333333;">Description</span>
					</div>
					<div
						class="col-xs-12 col-md-12 airQ-padding-l-r-0 airQ-margin-top-10">
						<span style="font-size: 0.9em; color: #B4B4B4; overflow: hidden;">{{education.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



